<p id="notice"><%= notice %></p>

<%= render partial: "comments/comments", locals: {commentable: @film} %>
<%= render partial: "comments/form", locals: {commentable: @film} %>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
